.navbar-nav {
    display: flex;
    list-style: none; /* Eliminar viñetas */
    padding: 0;
    margin: 0;
}

.navbar-nav .nav-item {
    margin-right: 20px; /* Espacio entre los enlaces */
}

.navbar-nav .nav-item:last-child {
    margin-right: 0; /* Eliminar margen al último elemento */
}
.text-center {
    text-align: center;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Altura mínima para centrar verticalmente */
    background-color: #F4F4F4; /* Color de fondo */
}

.container {
    max-width: 800px; /* Ancho máximo del contenedor */
}

.contacto-imagen img {
    max-width: 100%;
    height: auto;
}

.contactenos-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #d3d3d3; /* Borde gris claro */
}
 
h1 {
    text-align: center;
    color: #333333; /* Texto gris oscuro */
}
 
.contacto-info {
    margin-bottom: 30px;
    background-color: #fffaf0; /* Fondo crema */
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #d3d3d3; /* Borde gris claro */
}
 
.contacto-info p {
    font-size: 16px;
    color: #555555; /* Texto gris medio */
    margin: 5px 0;
}
 
.contacto-info a {
    color: #007bff; /* Enlaces azul */
    text-decoration: none;
}
 
.contacto-info a:hover {
    text-decoration: underline;
}
 
.contacto-imagen {
    text-align: center;
    margin-top: 20px;
}
 
.contacto-imagen img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #d3d3d3; /* Borde gris claro */
}


.facebook-icon {
    font-size: 2rem; /* Ajusta el tamaño del icono según sea necesario */
    color: #4267B2; /* Color del ícono de Facebook */
}
