<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Fragmento de Productos</title>
    </head>
    <body>
        <!-- 1 Sección para crear el botón de agregar... llamará a una ventana modal -->
        <section th:fragment="categoriaTabs" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="dropdown">
                        <button class="btn btn-white border border-secondary w-100 text-center fw-bold pb-2" type="button" id="categoriaDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Selecciona una Categoría
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="categoriaDropdown">
                            <li><a class="dropdown-item" href="/catalogo/listado">Todas</a></li>
                            <li th:each="categoria : ${categorias}">
                                <a class="dropdown-item" th:href="@{/catalogo/listado/}+${categoria.idCategoria}" th:text="${categoria.nombre}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Sección principal para mostrar la información de la entidad producto -->
        <section th:fragment="listadoProductos" id="productos">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center fw-bold border-bottom border-dark pb-2">Productos</h4>
                        <div class="row">
                            <!-- Aquí se muestran las imágenes de la nueva colección -->
                            <div th:each="producto, iterStat : ${productos}" class="col-md-4">
                                <div class="card border-secondary mb-3">
                                    <img th:src="${producto.rutaImagen}" class="card-img-top" th:alt="${'Imagen ' + (iterStat.index + 1)}">
                                        <div class="card-body">
                                            <h5 th:text="${producto.detalle}" class="card-title"></h5>
                                            <p>₡<span th:text="${producto.precio}" class="card-text"></span></p>
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:attr="data-bs-target='#detalleModal'+${producto.idProducto}" th:data-detalle="${producto.detalle}" th:data-precio="${producto.precio}">
                                                Ver detalle
                                            </button>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modales para mostrar el detalle de cada arreglo floral -->
                        <div th:each="producto : ${productos}" class="modal fade" th:id="'detalleModal'+${producto.idProducto}" tabindex="-1" th:aria-labelledby="'detalleModalLabel'+${producto.idProducto}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" th:id="'detalleModalLabel'+${producto.idProducto}" th:text="'Detalle  - '+${producto.detalle}"></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col">
                                                <img th:src="${producto.rutaImagen}" alt="Imagen del producto" class="img-fluid">
                                            </div>
                                            <div class="col">
                                                
                                             
                                                <h5 th:text="${producto.detalle}"></h5>
                                                <p th:text="'Precio: '+${producto.precio}"></p>
                                                <a th:href="@{/carrito/agregar/} + ${producto.idProducto}" class="btn btn-success">Agregar al carrito</a>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </body>
</html>